   #ClientOrderTotalPrice{
    position: fixed;
    bottom: 5%; 
    margin-left: 0px;
    padding: 0px; 
    z-index: 999; 
    display:flex;
    justify-content: flex-end;
    align-items: center; 
  }
  
  #ClientOrderTotalPrice > span:last-child {
    margin-left: 10px;
  }
  
  #ClientOrderItem {
    margin-bottom: 13px; 
    overflow-y: auto;
  }
  
  .right-aligned {
    margin-left: auto;
    width: 35%;
  }
  
  .no-background{
    background: none;
    border: none;
    padding: 0;
    margin: 5px;
  }
  