body{
  position: relative;
}

/* Utility Classes */
.hide {
  display: none!important;
}

/* --- Modal styling --- */
.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 20;
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* --- Header styling --- */
nav {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

#LanguageButton {
  margin-right: 10px;
}

/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.language-dropdown {
  position: relative;
  display: inline-block;
}

/* Style the language options */
.language-option {
  padding: 10px;
  width: 100%;
  text-align: left;
}

.language-option:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the button is hovered over */
.language-dropdown:hover .dropdown-content {
  display: block;
}

/* --- Main panels styling --- */
.main-panel {
  display: flex;
  width: 100%;
}

.left-panel {
  background-color: #e3e3e3;
  flex: 0 0 30%;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
}

.menu-button {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
  background-color: #f0f0f0;
  color: #333;
}


.right-panel {
  background-color: #c4c4c4;
  flex: 1;
}

/* -- Right Panel Styling -- */
.menu-categories {
  background-color: grey;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.menu-item-listing {
  padding: 20px;
  display: flex;
  flex-direction:column;
  gap: 15px;
}

.menu-item{
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 10px;
}

.addToOrder {
  background-color: #e2ed68;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.addToOrder:hover {
  background-color: #80d983;
  transition: background-color linear 0.3s;
}

/* -- Left Panel Styling --*/
.order-title {
  padding-left: 20px;
}

.order-item {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkout-order-items {
  padding: 20px;
  padding-bottom: 40px;
}

.checkout-order-items .order-item {
  background-color: #e3e3e3;
  margin-bottom: 40px;
}

.checkout-order-items .order-item .right-aligned {
  display: none;
}

.unit-number {
  margin-left: 20px;
}

.plusButton {
  background-color: #e3e3e3;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.minusButton {
  background-color: #e3e3e3;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.plus-minus-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.deleteButton {
  background-color: rgb(243, 79, 79);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.total-price {
  margin: 20px;
}

.paymentButton {
  margin: 20px;
}

/* --- General elements styling --- */
.basicButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.basicButton:hover {
  background-color: #80d983;
  transition: background-color linear 0.3s;
}

/* Styling for the item borders */
#menuItemBorder{
  border:1px solid;
  border-radius: 5%;
  color: black;
  padding: 10px;
  width:180px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for the menu item images */
#menuItemImage{
  width: 100px;
  height: 100px;
  border: 1px solid;
}

/* Styling for the rows of items displayed */
#MenuItemsListing{
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(220px, 1fr));
  gap:10px;
}

#menuItemTitle{
  font-size: 1.1em;
  font-weight: bold;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

